.Container {
  padding-top: 15vh;
  height: 100%;
  width: 100%;
  margin: 50px;
  .Heading {
    width: 100%;
    height: 15vh;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 12px #fff, 0 0 26px #fff, 0 0 40px #0ff,
      0 0 1px #0ff, 0 0 0px #0ff, 0 0 0px #0ff, 0 0 5px #0ff;
  }
  .Row {
    display: flex;
    justify-content: center;
    text-align: center;

    .Col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      color: whitesmoke;
    }
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .Container {
    height: auto;
  }
}
