.Container {
  padding-top: 15vh;

  width: 100%;
  .Heading {
    width: 100%;
    height: 15vh;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 12px #fff, 0 0 26px #fff, 0 0 40px #0ff,
      0 0 1px #0ff, 0 0 0px #0ff, 0 0 0px #0ff, 0 0 5px #0ff;
  }
  .Project,
  .Project1,
  .Project2 {
    .SingleProject {
      height: 500px;
      width: 70%;
      margin: 0 100px 0 100px;
    }
  }
  .Project1 {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 575px) {
  .Container {
    .Project,
    .Project1,
    .Project2 {
      .SingleProject {
        height: 500px;
        width: 100%;
        margin: 0;
        height: auto;
      }
    }
  }
}
