.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.Projects {
  padding-top: 15vh;
  margin: 50px;
  .Heading {
    width: 100%;
    height: 15vh;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 12px #fff, 0 0 26px #fff, 0 0 40px #0ff,
      0 0 1px #0ff, 0 0 0px #0ff, 0 0 0px #0ff, 0 0 5px #0ff;
  }
  .SingleProject {
    color: whitesmoke;
  }
  img {
    height: 400px;
    width: 400px;
  }
}
