.Block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Title {
  text-align: center;
  font-size: 100px;
  color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 100;
}

.Education {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.SideSocial {
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 2%;
  z-index: 10000;
  color: rgb(168, 178, 209);
}

.SocialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 0.2em;
}

.SocialContainer::after {
  content: '';
  display: block;
  width: 0.06em;
  height: 4em;
  background-color: rgb(168, 178, 209);
  margin: 0.6em 0 0 0;
}

a.SocialLinks {
  color: #ccd6f6 !important;
  transition: color 0.3s ease-out 0s;
  display: block;
  font-size: 1.5em;
  line-height: 2.1em;
}

a.SocialLinks:hover {
  color: #ffa500 !important;
  transform: scale(1.12);
}
