.container-fluid.night {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  overflow: hidden;

  .content::-webkit-scrollbar {
    display: none;
  }
  .content {
    color: whitesmoke;
    padding: 10% 20% 0 20%;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    p {
      font-size: 1rem;
    }
    p span {
      text-decoration: underline;
      cursor: pointer;
      color: #ffa500;
    }
    p img {
      border-radius: 25px;
    }
    .socials {
      position: absolute;
      top: 0%;
      right: 1%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        padding: 10px;
        font-weight: 900;
        font-size: 1rem;
        cursor: pointer;
      }
      li:hover {
        color: #ffa500;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
      }
      a {
        text-decoration: none;
        color: whitesmoke;
      }
    }

    .nav-bar {
      position: absolute;
      top: 40%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .nav-bar li {
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 0.2em;
      padding: 10px;
      margin: 0 0 20px 20px;
      cursor: pointer;
    }

    .nav-bar li:hover {
      color: #ffa500;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
    }

    .selected {
      color: #ffa500;
    }

    .infoSection {
      margin-top: 50px;
      .education img {
        padding: 20px;
        height: 250px;
        width: 250px;
        border-radius: 20px;
      }
      .education:first-child img {
        background-color: white;
      }
      .education:nth-child(2) img {
        background-color: white;
        padding: 0;
      }
      .education:nth-child(3) img {
        background-color: #00ff84;
      }
    }
    .logo_img {
      position: absolute;
      top: 0%;
      left: 1%;
      height: 100px;
    }

    .education {
      margin-bottom: 20px;
      .row {
        display: flex;
        justify-content: space-around;
      }
      :last-child span {
        font-size: 1.5rem;
        font-weight: 400;
      }
      .titles {
        padding-top: 10px;
        font-weight: 600;
        color: #ffa500;
      }
      .card {
        background: transparent;
        text-align: center;
      }

      .card-header button {
        color: #ffa500;
      }

      .card-body {
        padding: 0;
        background: transparent;
        display: flex;
        border: 0;
      }

      .card-body .list-group * {
        background: transparent;
        border: 0;
      }
    }
  }
  .dayToggle {
    position: absolute;
    bottom: 0%;
    right: 1%;
    cursor: pointer;
    img {
      height: 50px;
    }
  }
  .projects {
    .projectDetails {
      ul {
        display: inline;
        li {
          padding: 0;
        }
      }
      button {
        background-color: transparent;
        border: 0;
        display: flex;
        align-content: center;
        svg {
          font-size: 25px;
          margin-right: 10px;
        }
      }
      a {
        text-decoration: none !important;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      li {
        padding: 20px;
        cursor: pointer;
      }
    }

    .carousel-item {
      padding-bottom: 100px;
    }

    .carousel-caption {
      bottom: 30px;
    }

    .carousel-indicators {
      bottom: 10px !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: -20%;
    }
  }
}
